---
import Layout from '@/layouts/Layout.astro'
import Footer from "@/components/Footer.astro"
import HeroSection from "@/components/HeroSection.astro"
import Head from "@/components/Head.astro"

---

<Layout title="To-do">
	<Head />
	<main>
		<HeroSection />
	</main>
	<Footer />
</Layout>
